{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="">
    <script src="https://kit.fontawesome.com/e8b231d464.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/user_profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/normal.css') }}">
</head>


<html lang="en">
<body>
    <div class="container">
        <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body ">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="tooltip-avatar" data-toggle="tooltip" data-placement="left" title="تغییر پروفایل">
                        <img id="avatar" src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle" width="150">
                    </div>

                    <h1>{{ g.user.first_name }}</h1>
                    <h4>{{ g.user.username }}</h4>

                    <h5 class="text-secondary email">{{ g.user.email}}ایمیل: </h5>


                    <button id="myBtn" class="btn alert-secondary">ویرایش پروفایل</button>
                      <div class="follow-info">
                          <p class="text-secondary"> دنبال کننده{{ g.user.followers|count }}</p>
                          <p class="text-secondary"> دنبال شونده{{ g.user.followings|count }} </p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>



    <div class="content">
        <div class="main-content">
        {% if user_posts %}
            {% for post in user_posts %}
            <div class="post">
                <img src="{{ url_for('static',filename='media/post/{{ post.main_image }}') }}" class="post-image">
                <div class="post-preview">
                    <h1>{{ post.title }}</h1>
                    <div class="post-info">
                        <i class="far fa-thumbs-up icon">{{ post.likes }}</i>
                        &nbsp;
                        <i class="far fa-thumbs-down icon">{{ post.dislike }}</i>
                    </div>
                    <div class="post-content">
                        <p class="preview-text">{{post.body}}</p>
                    </div>
                    <a href="#" class="btn more-btn">بیشتر</a>
                    <a href="#" class="btn edit-btn">ویرایش</a>
                    <a href="#" class="btn btn-danger">حذف</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>



    <div id="avatarModal" class="modal">
        <div class="modal-content">
            <span id="close" class="close">&times;</span>
            <form method="post"  action="{{ url_for('blog.change_avatar','username={{g.user.username}}') }}">
                <label for="choice-avatar">انتخاب عکس آواتار</label>
                <input type="file" name="choice-avatar">
                <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
            </form>
        </div>
    </div>



     <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
           <div class="edit-information-form">
            <form method="post" action="{{ url_for('blog.edit_profile',username='{{g.user.username}}') }}">
                <label for="first-name">نام</label>
                 <div class="form-group">
                    <input type="text" class="form-control item" id="first-name" name="first-name" placeholder="{{ g.user.first_name}}">
                </div>

                <label for="last-name-name">نام خانوادگی</label>
                 <div class="form-group">
                    <input type="text" class="form-control item" id="last-name" name="last-name" placeholder="{{ g.user.last_name }}">
                </div>

                <label for="password">رمز عبور</label>
                <div class="form-group">
                    <input type="password" class="form-control item" id="password" name="password" >
                </div>

                <label for="email">ایمیل</label>
                <div class="form-group">
                    <input type="text" class="form-control item" id="email" name="email" placeholder="{{ g.user.email }}">
                </div>

                <label for="phone-number">شماره تلفن</label>
                <div class="form-group">
                    <input type="text" class="form-control item" id="phone-number" name="phone-number" placeholder="{{ g.user.phone}}">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-block save-change">ذخیره تغییرات</button>
                </div>
            </form>
      </div>
    </div>


<script src="{{ url_for('static',filename='js/user_profile.js') }}"></script>



</body>
</html>
{% endblock %}