{% extends 'base.html' %}
{% block content %}

<div class="card text-center mx-auto mt-5 mb-5 rounded">
    <img class="card-img  w-25 d-block h-auto rounded-circle mx-auto mt-3"
             src="{{ url_for('static',filename='media/index12.jpg') }}" alt="Card image cap">
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">


                <form class="m-4" method="post" action="{{ url_for('auth.register') }}">

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="username">نام کاربری</label>
                            <input type="text" class="form-control" name="username" id="username" value=""
                                   required oninvalid="this.setCustomValidity('لطفا یک نام کاربری انتخاب کنید')"
                                   onchange="this.setCustomValidity('')">
                            <div id="username_info" class="invalid-feedback">
                                نام کاربری موجود است
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="password">کلمه عبور</label>
                            <input type="password" class="form-control" id="password" name="password" value=""
                                   required oninvalid="this.setCustomValidity('لطفا یک رمز عبور انتخواب کنید')"
                                   onchange="this.setCustomValidity('')">
                            <div id="password_info" class="invalid-feedback">
                                حداقل ۷ کارکتر
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                    </div>
                    <a class="" href="#"> فراموشی رمز عبور</a><br><br>
                    <form action="" method="post">
                        <button id="logining" class="btn btn-primary" type="submit">ورود</button>
                    </form>
                    <a id="register" class="btn btn-primary" href="http://127.0.0.1:5000/auth/register">ثبت نام</a>
                </form>


            </div>


            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                <form class="m-4" method="post" action="{{ url_for('auth.login') }}">

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="username_login">نام کاربری</label>
                            <input type="text" class="form-control" name="username_login" id="username_login"
                                   value=""
                                   required oninvalid="this.setCustomValidity('لطفا یک نام کاربری را وارد کنید')"
                                   onchange="this.setCustomValidity('')">

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="password_login">کلمه عبور</label>
                            <input type="password" class="form-control" id="password_login" name="password_login"
                                   value=""
                                   required oninvalid="this.setCustomValidity('لطفا رمز عبور خود را وارد کنید')"
                                   onchange="this.setCustomValidity('')">
                            <div id="password_info" class="invalid-feedback">
                                حداقل ۷ کارکتر
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <a class="" href="#"> فراموشی رمز عبور</a>
                    </div>
                    <button id="login" class="btn btn-primary" type="submit">ورود</button>
                </form>

            </div>

        </div>

    </div>
</div>
{% endblock %}
