{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/normal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/create.css') }}">
{% endblock %}


{% block content %}

    <div class="col-12 col-md-3 text-right ">
        <div class="card mt-5">
            <div class="card-header">
                <h5>انتشار</h5>
            </div>
            <form>
                <div class="card-body">

                    <div class="form-row">
                        <label for="publish" class="mr-2 ml-3"> وضعیت انتشار </label>
                        <input type="checkbox" id="publish" name="publish">
                    </div>
                    <div class="form-row">
                        <label for="slider_status" class="mr-2 ml-3">نمایش در اسلایدر</label>
                        <input type="checkbox" id="slider_status" name="slider_status">
                        <label for="index_status" class="mr-2 ml-3">نمایش در صفحه اصلی</label>
                        <input type="checkbox" id="index_status" name="index_status">
                        <div class="alert alert-success  mr-auto d-none" role="alert" id="alert">
                            به روز رسانی با موفقیت انجام شد
                        </div>
                    </div>

                </div>
                <div class="card-footer">

                    <input type="submit" id="update" class="btn btn-primary" value="به روز رسانی">
                    <input type="submit" class="btn btn-danger mr-2" value="حذف">
                </div>
            </form>

        </div>

        <div class="card mt-3">
            {% if post %}
                {% if post.main_image %}
                    <img class="card-img-top" id="main_pic" src="../{{ post.main_image }}">
                {% else %}
                    <img class="card-img-top" id="main_pic"
                         src="{{ url_for('static',filename='media/post/no-pic.png') }}">
                {% endif %}
            {% else %}
                <img class="card-img-top" id="main_pic" src="{{ url_for('static',filename='media/post/no-pic.png') }}">
            {% endif %}
            <form>

                <div class="card-footer">
                    <label for="upload_main_image"><a class="btn btn-primary"> تصویر<i class="fa fa-image mr-2"></i>
                    </a> </label>
                    <input type="file" id="upload_main_image" class="d-none">
                    <input type="submit" class="btn btn-danger mr-2" value="حذف">
                </div>
            </form>

        </div>
        <div class="card mt-3">

            <div class="card-header ">
                <h4>دسته بندی</h4>
            </div>
            <div class="card-body p-0 rounded-0" id="card_body">


                <div id="accordion">
                    <div class="card" rounded-0 id="must_add_here">
                        {% for category in g.category %}
                            {% if category.parent == None %}

                                <div class="card-header bg-transparent rounded-0" id="headingOne{{ loop.index0 }}">
                                    <h5 class="mb-0">
                                        <input type="checkbox" class="category" value="{{ category.id }}">
                                        <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne{{ loop.index0 }}"
                                                aria-expanded="true" aria-controls="collapseOne{{ loop.index0 }}">
                                            {{ category.title }}
                                        </button>

                                    </h5>
                                    <div id="collapseOne{{ loop.index0 }}" class="collapse"
                                         aria-labelledby="headingOne{{ loop.index0 }}"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <ul id="{{ category.id }}">
                                                {% for child in category.child %}
                                                    <li><input type="checkbox" class="category" value="{{ child.id }}"
                                                               class="ml-3">{{ child.title }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}


                    </div>


                </div>
            </div>
            <div class="card-footer add_category_parent">
                <a id="add_category" onclick="add_category()" class="alert-link" style="cursor: pointer">افزودن
                    جدید</a>
            </div>
        </div>

    </div>

    <div class="col-12 col-md-9">
        <div class="card mt-5">

            <div class="card-header text-right">
                <input type="text" id="title" class="form-control" placeholder="عنوان مطلب">
                <div id="title_info" class="invalid-feedback mr-3">
                    عنوان نمیتواند خالی باشد
                </div>
            </div>
            <div class="card-body text-right pt-1">
                <input type="checkbox" id="automatic">
                <label for="automatic">انتخاب دستی نام مستعار مطلب</label>


                <input type="text" id="seo" class="form-control mt-2" disabled>
            </div>


        </div>
        <div class="card mt-3 pr-0">
            <div class="card-header">
                <a class="btn btn-info" style="position: relative;z-index: 1" id="media" data-toggle="modal"
                   data-target="#mediamodal"><i class="fa fa-image"></i> چندرسانه ای
                </a>

            </div>
            <div class="card-body mr-0 ml-0 p-0" style="margin-top: -43px;">
                <ul class="nav nav-tabs mr-0 pr-1" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">متن خام</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">پیش نمایش</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">


                        <div class="card">
                            <div class="card-header">
                                <button class="btn btn-outline-secondary  dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="font">
                                    18
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" onclick="change_font(10)">10</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" onclick="change_font(12)">12</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" onclick="change_font(14)">14</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" onclick="change_font(16)">16</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" onclick="change_font(20)">20</a>
                                </div>
                                <a class="btn btn-outline-secondary" id="make_link" data-toggle="modal"
                                   data-target="#exampleModal"><i class="fa fa-link"></i></a>


                                <a class="btn btn-outline-secondary" id="make_bold" onclick="make_bold()"><i
                                        class="fa fa-bold"></i></a>

                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <textarea style="resize: none;"
                                                  class="form-control" rows="20"
                                                  id="textarea"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">تست</div>

                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>





    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog text-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">افزودن لینک</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <label for="address">آدرس لینک</label>
                        <input type="text" class="form-control" id="address">
                        <label for="address_lable">متن لینک</label>
                        <input type="text" class="form-control" id="address_lable">
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        اتصراف
                    </button>
                    <button type="button" class="btn btn-primary" onclick="set_link()">افزودن</button>
                </div>
            </div>
        </div>
    </div>









    <div class="modal fade " id="mediamodal" tabindex="-1" role="dialog" aria-labelledby="mediamodallabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="mediamodallabel">چند رسانه ای</h5>

                </div>
                <div class="modal-body" id="media-container">

                </div>
                <div class="modal-footer">
                    <form id="media_form">
                        <button type="button" class="btn btn-danger" onclick="delete_pic()">حذف
                        </button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="attach()">الصاق
                        </button>
                        <label for="add_media"><a class="btn btn-primary" id="image_lable"><i
                                class="fa fa-image"></i></a>
                        </label>
                        <input type="file" id="add_media" class="d-none">
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script>
        {#document.getElementById("textarea").contentEditable='true';#}

        function check_hashtags() {
            let myRe = /#+[a-zA-Z0-9(_)^#]{1,}/igdm
            let faRe = /#+[\u0622\u0627\u0628\u067E\u062A-\u062C\u0686\u062D-\u0632\u0698\u0633-\u063A\u0641\u0642\u06A9\u06AF\u0644-\u0648\u06CC]{1,}$/igdm
            let txt = $('#textarea').val()
            let hashtag;
            let tags = Array();
            while((hashtag = faRe.exec(txt)) !== null){
                console.log(hashtag)
                tags.push(hashtag[0].slice(1))
            }
            while ((hashtag = myRe.exec(txt)) !== null) {
                console.log(hashtag)
                tags.push(hashtag[0].slice(1))
                {# TODO : make blue links with hashtags instantly #}
                {#$.ajax({#}
                {#    url: `http://127.0.0.1:5000{{ url_for('blog.check_tag') }}`,#}
                {#    type: 'GET',#}
                {#    data: {'tag': hashtag[0].slice(1)},#}
                {#    contentType: false,#}
                {#    processData: false,#}
                {#success: function (response) {#}
                {#    if (response !== 0) {#}
                {#        console.log(response)#}
                {#    }#}
                {# } #}
                {# }) #}
            }
            console.log(tags)
            return tags
        }

        window.images = []

        function set_link() {
            if ($("#address").val() !== "") {
                let textarea = document.getElementById('textarea')
                let text_value = textarea.value
                $("#textarea").val(text_value.slice(0, window.pos_start) + `<a href="${$("#address").val()}">${$("#address_lable").val()}</a>\n` + text_value.slice(window.pos_end))
                $("#exampleModal").modal('hide')
                textarea.focus()

            } else {

                $("#exampleModal").modal('hide')
            }
        }

        function change_font(font_size) {
            let textarea = document.getElementById('textarea')

            let textarea_value = textarea.value
            let pos = textarea.selectionStart
            if (textarea.selectionStart == textarea.selectionEnd) {
                $("#textarea").val(textarea_value.slice(0, textarea.selectionStart) + `\n<span style="font-size: ${font_size}px">\n\n</span>\n` + textarea_value.slice(textarea.selectionStart))
                textarea.focus()
                textarea.setSelectionRange(pos + 32, pos + 32)
            } else {
                let final_text = textarea_value.slice(0, textarea.selectionStart) + `\n<span style="font-size: ${font_size}px">` + textarea_value.slice(textarea.selectionStart, textarea.selectionEnd) + `</span>\n` + textarea_value.slice(textarea.selectionEnd)
                $("#textarea").val(final_text)
                textarea.focus()
                textarea.setSelectionRange(length(textarea.value), length(textarea.value))
            }
        }


        function make_bold() {
            let textarea = document.getElementById('textarea')

            let textarea_value = textarea.value
            let pos = textarea.selectionStart
            if (textarea.selectionStart == textarea.selectionEnd) {
                $("#textarea").val(textarea_value.slice(0, textarea.selectionStart) + `\n<strong>\n\n</strong>\n` + textarea_value.slice(textarea.selectionStart))
                textarea.focus()
                textarea.setSelectionRange(pos + 10, pos + 10)
            } else {
                let final_text = textarea_value.slice(0, textarea.selectionStart) + `\n<strong>` + textarea_value.slice(textarea.selectionStart, textarea.selectionEnd) + `</strong>\n` + textarea_value.slice(textarea.selectionEnd)
                $("#textarea").val(final_text)
                textarea.focus()
                textarea.setSelectionRange(length(textarea.value), length(textarea.value))
            }

        }

        function create_link() {

        }

        $("#profile-tab").click(function () {

            $("#profile").html($("#textarea").val())

        })


        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }
        let category_parent = $(".add_category_parent").clone()

        function add_category() {


            $.get("http://127.0.0.1:5000{{ url_for('blog.category_ajax') }}", function (data) {
                let form = document.createElement('form')
                let form_div = document.createElement('div')
                form_div.classList += 'form-group'
                let elem_select = document.createElement('select')
                elem_select.classList += 'form-control'
                elem_select.id = "add_category_parent_id"
                let counter = 0
                let no_parent = document.createElement('option')
                elem_select.appendChild(no_parent)
                no_parent.text = 'بدون والد'
                no_parent.value = 'بدون والد'
                for (category of data['category']) {
                    console.log(category)
                    if (category[2] == false) {
                        let elem = []
                        elem[counter] = document.createElement('option')
                        elem[counter].text = category[1]
                        elem[counter].value = category[0]
                        elem_select.appendChild(elem[counter])

                        counter++

                    }
                }


                let elem_text = document.createElement('input')
                elem_text.type = 'text'
                elem_text.id = 'add_category_text'
                elem_text.classList += 'form-control'
                let elem_button = document.createElement('button')
                elem_button.setAttribute('onClick', "add()")
                elem_button.textContent = "افزودن"
                elem_button.id = 'add_category_button'
                elem_button.classList += 'btn btn-primary mr-2 mt-2'


                let elem_button_cancel = document.createElement('button')
                elem_button_cancel.setAttribute('onClick', "cancel()")
                elem_button_cancel.textContent = "انصراف"
                elem_button_cancel.id = 'add_category_button_cancel'
                elem_button_cancel.classList += 'btn btn-danger mr-2 mt-2'


                form_div.appendChild(elem_select)
                form_div.appendChild(elem_text)
                form_div.appendChild(elem_button)
                form_div.appendChild(elem_button_cancel)
                form.appendChild(form_div)

                $(".add_category_parent").append(form)
                {#$("#add_category_parent").append(elem_button)#}
                $("#add_category").addClass('d-none')

            })


            let categories = []


            console.log(categories)


        }


        function add() {
            let selec = document.getElementById("add_category_parent_id")
            event.preventDefault()
            let text = $("#add_category_text").val()
            if ($("#add_category_text").val()) {
                $.post("http://127.0.0.1:5000{{ url_for('blog.category_add_ajax') }}", {
                    "text": $("#add_category_text").val(),
                    "parent": selec.value
                }, function (data) {

                    if (selec.value == "بدون والد") {
                        let counter = 250

                        let element_to_add = `<div class="card-header bg-transparent rounded-0" id="headingOne${counter}">
                                    <h5 class="mb-0">
                                        <input type="checkbox" onchange="check_value(this)" value="${data["self"]}">
                                        <button class="btn btn-link" data-toggle="collapse"
                                                data-target="#collapseOne${counter}"
                                                aria-expanded="true" aria-controls="collapseOne${counter}">
                                            ${text}
                                        </button>

                                    </h5>
                                    <div id="collapseOne${counter}" class="collapse"
                                         aria-labelledby="headingOne${counter}"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <ul id=${data["self"]}>
                                            </ul>
                                        </div>
                                    </div>
                                </div>`
                        $("#must_add_here").append(element_to_add)
                        counter++

                    } else {
                        let inp = document.createElement("input")
                        inp.value = data["self"];
                        inp.type = 'checkbox';
                        inp.classList += "ml-3";
                        inp.onchange = check_value(this)
                        let li = document.createElement("li")
                        li.innerText = text
                        li.prepend(inp)

                        $(`#${selec.value}`).append(li)

                    }


                })
            }

            {#$("#add_category_parent").remove()#}
            let element_to_delete = document.getElementsByClassName('add_category_parent')[0]
            element_to_delete.remove()
            let element_to_add = `<div class="card-footer add_category_parent" >
                <a id="add_category" onclick="add_category()" class="alert-link" style="cursor: pointer">افزودن
                    جدید</a>
            </div>`
            $("#accordion").append(element_to_add)
        }

        function cancel() {
            event.preventDefault()
            {#$(".add_category_parent").remove()#}
            let element_to_delete = document.getElementsByClassName('add_category_parent')[0]
            element_to_delete.remove()
            let element_to_add = `<div class="card-footer add_category_parent" >
                <a id="add_category" onclick="add_category()" class="alert-link" style="cursor: pointer">افزودن
                    جدید</a>
            </div>`
            $("#accordion").append(element_to_add)

        }

        $('#exampleModal').on('shown.bs.modal', function () {
            let textarea = document.getElementById('textarea')
            let textarea_value = textarea.value
            window.pos_start = textarea.selectionStart
            window.pos_end = textarea.selectionEnd
            if (textarea.selectionStart !== textarea.selectionEnd) {
                {#alert("im here")#}
                $("#address_lable").val(textarea_value.slice(textarea.selectionStart, textarea.selectionEnd))
            }
        })


        $('#mediamodal').on('shown.bs.modal', function () {
            let textarea = document.getElementById('textarea')
            let textarea_value = textarea.value
            window.pos_start = textarea.selectionStart
            window.pos_end = textarea.selectionEnd
            if (typeof window.post_id == 'undefined') {

                {#create_post and get id#}
                $.post("http://127.0.0.1:5000{{ url_for('blog.create_draft_post') }}", function (data) {
                    window.post_id = data
                })
            } else {
                {#fetch post media and show#}
                $.post("http://127.0.0.1:5000{{ url_for('blog.fetch_media') }}", {'post_id': window.post_id}, function (data) {
                    let counter = 0
                    $("#media-container").html("")

                    for (image of data['images']) {


                        if (counter % 3 == 0) {
                            id = counter
                            {#alert(`residual is 0 and id is: ${id}`)#}
                            $("#media-container").append(`<div class="card-deck mt-3" id="media_deck${id}">`)
                            $(`#media_deck${id}`).append(`<div class="card" id="card${id}"><img onclick="selective(this)" class="card-img " id="${image}" src="${image}"> </div>`)

                        } else {
                            {#alert(`residual is not 0 and id is: ${id}`)#}
                            $(`#media_deck${id}`).append(`<div class="card"><img onclick="selective(this)" class="card-img " id="${image}" src="${image}"> </div>`)

                        }
                        counter++

                    }
                })
            }

        })


        function selective(element) {

            let classlist = element.classList.toString()
            if (classlist.includes('selected-image')) {

                element.classList = classlist.replace('selected-image', '')
            } else {

                element.classList = element.classList + 'selected-image'
                window.images.push(element.id)

            }
        }


        function attach() {
            let textarea = document.getElementById('textarea')
            let textarea_value = textarea.value
            let selected_elements = document.getElementsByClassName('selected-image')
            let plus = ""
            for (element of selected_elements) {
                textarea_value = textarea.value
                $("#textarea").val(textarea_value.slice(0, window.pos_start) + `<img class="w-50" src="${element.id}">` + textarea_value.slice(window.pos_start))
                plus = `<img class="w-50" src="${element.id}">`

                window.pos_start = window.pos_start + plus.length

            }


            textarea.setSelectionRange(window.pos_start, window.pos_start)
            $("#textarea").focus()

        }


        $("#add_media").change(function () {

            let file = this.files[0];
            let form = new FormData();
            form.append('media', file)
            form.append('post_id', window.post_id)

            $.ajax({
                url: `http://127.0.0.1:5000{{ url_for('blog.upload_pic') }}`,
                type: 'post',
                data: form,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response != 0) {

                        let container = document.getElementById("media-container")

                        {#alert(container.childElementCount)#}
                        let laschild = container.lastChild

                        if (laschild == null) {

                        } else {
                            var element_count = laschild.childElementCount
                        }
                        element_count = typeof element_count
                        element_count = element_count.toString()

                        if (element_count != "undefined" && laschild.childElementCount !== 3) {

                            $(`#${laschild.id}`).append(`<div class="card" id="card${(container.childElementCount - 1) * 3 + laschild.childElementCount + 1}"><img onclick="selective(this)" class="card-img " id="${response}" src="${response}"> </div>`)

                        } else if (element_count == "undefined") {

                            $("#media-container").append(`<div class="card-deck mt-3" id="media_deck1">`)

                            $(`#media_deck1`).append(`<div class="card" id="card0"><img onclick="selective(this)" class="card-img " id="${response}" src="${response}"> </div>`)
                        } else {

                            $("#media-container").append(`<div class="card-deck mt-3" id="media_deck${(container.childElementCount) * 3 + 1}">`)
                            $(`#media_deck${(container.childElementCount - 1) * 3 + 1}`).append(`<div class="card" id="card${(container.childElementCount - 1) * 3 + laschild.childElementCount + 1}"><img onclick="selective(this)" class="card-img " id="${response}" src="${response}"> </div>`)
                        }
                    } else {

                    }
                },
            });


        })

        $("#title").change(function () {
            $("#title").removeClass('is-invalid')
            $("#title_info").removeClass('d-block')
            let text = $("#title").val()
            text = text.trim()
            while (text.match(" ")) {
                text = text.replace(" ", "-");
            }
            if ($("#automatic").is(':checked')) {

            } else {
                $("#seo").val(text)

            }

        })
        $("#automatic").change(function () {
            if ($("#automatic").is(':checked')) {
                $("#seo").prop('disabled', false)

            } else {
                $("#seo").prop('disabled', true)
                let text = $("#title").val()
                text = text.trim()
                while (text.match(" ")) {
                    text = text.replace(" ", "-");
                }
                $("#seo").val(text)
            }
        })

        $("#update").click(function () {

            event.preventDefault()
            if ($("#title").val().trim() == "") {

                $("#title").addClass('is-invalid')
                $("#title_info").addClass('d-block')
            } else {

                let category = []


                for (let elem of $('.category:checkbox:checked')) {
                    category.push(elem.value)

                }
                alert("here")
                if (window.cat) {
                    for (let newly_added_elements of window.cat) {
                        category.push(newly_added_elements)
                    }
                }

                if ($("#publish").is(':checked')) {
                    window.publish = true
                } else {
                    window.publish = false
                }

                if ($("#slider_status").is(':checked')) {
                    window.slider = true
                } else {
                    window.slider = false
                }

                if ($("#index_status").is(':checked')) {
                    window.index_status = true
                } else {
                    window.index_status = false
                }


                let title = $("#title").val()
                let content = $("#textarea").val()
                let seo = $("#seo").val()
                let data = {
                    category: category,
                    publish: window.publish,
                    slider: window.slider,
                    title: title,
                    content: content,
                    post_id: window.post_id,
                    index: window.index_status,
                    seo: seo,
                    tags: check_hashtags(),

                }
                alert("im here just befor ajax")
                $.ajax({
                    url: `http://127.0.0.1:5000{{ url_for('blog.create_post_ajax') }}`,
                    type: 'post',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (response) {
                        if (response != 0) {
                            alert('ajax successfully done')
                            window.post_id = response
                            $("#alert").removeClass('d-none')
                            setTimeout(function () {
                                $("#alert").fadeOut();
                            }, 2000);
                        }
                    }
                })
            }
        })


        $("#upload_main_image").change(function () {

            if (typeof window.post_id == 'undefined') {

                {#create_post and get id#}
                $.post("http://127.0.0.1:5000{{ url_for('blog.create_draft_post') }}", function (data) {
                    window.post_id = data

                    let elem = document.getElementById('upload_main_image')
                    let file = elem.files[0];
                    let form = new FormData();
                    form.append('media', file)
                    form.append('post_id', window.post_id)

                    $.ajax({
                        url: `http://127.0.0.1:5000{{ url_for('blog.upload_main_pic') }}`,
                        type: 'post',
                        data: form,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response != 0) {

                                $("#main_pic").attr('src', response)
                                window.main_pic = response
                            } else {

                            }
                        },
                    });
                })

            } else {


                {#upload image#}
                let file = this.files[0];
                let form = new FormData();
                form.append('media', file)
                form.append('post_id', window.post_id)

                $.ajax({
                    url: `http://127.0.0.1:5000{{ url_for('blog.upload_main_pic') }}`,
                    type: 'post',
                    data: form,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response != 0) {

                            $("#main_pic").attr('src', response)
                            window.main_pic = response
                        } else {

                        }
                    },
                });


            }


        })


        function delete_pic() {
            let selected_elements = document.getElementsByClassName('selected-image')
            for (element of selected_elements) {
                element.parentNode.remove()
                let address = element.id
                let form = new FormData();
                form.append('address', address)
                form.append('post_id', window.post_id)

                $.ajax({
                    url: `http://127.0.0.1:5000{{ url_for('blog.remove_pic') }}`,
                    type: 'post',
                    data: form,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response != 0) {

                        }
                    }
                })
            }
        }
        {% if post %}
            window.post_id = '{{ post.id }}'
        {% endif %}

        window.cat = []

        function check_value(elem) {
            if (window.cat.includes(elem.value)) {
                let index = window.cat.indexOf(elem.value)
                window.cat.splice(index, 1)

            } else {
                window.cat.push(elem.value)
            }
        }
    </script>

{% endblock %}