

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
}


/* style for content */
.content {
    width: 90%;
    margin: 30px auto 30px;
}
.content .main-content {
    width: 90%;
    float: right;
}


.content .main-content .post {
    width: 1000px;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}
.content .main-content .post .more-btn {
    position: absolute;
    bottom: 10px;
    right: 43%;
    padding: .5rem 1rem;
    background: #20c997;
    color: white;
    border: 1px solid #20c997;
    border-radius: .25rem;
    background: transparent;
    color: #20c997;
}
.content .main-content .post .more-btn:hover {
    background: #20c997;
    color: white;
}
.content .main-content .post .edit-btn {
    position: absolute;
    bottom: 10px;
    left: 500px;
    border: 1px solid #005cbf;
    border-radius: .25rem;
}
.content .main-content .post .edit-btn:hover {
    color: white;
    background: #005cbf;
}
.content .main-content .post .btn-danger {
    position: absolute;
    bottom: 10px;
    border-radius: .25rem;
    color: #ff0017;
    background: transparent;
}
.content .main-content .post .btn-danger:hover{
    background: #ff0017;
    color: white;
}
.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: right;
}


.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: left;
}
.content .main-content .post .post-preview h1{
    float: right;
}
.content .main-content .post .post-preview .post-info {
    padding: 15px;
}
.content .main-content .post .post-preview .post-content {
    float: right;
    padding: 10px;
    font-size: 20px;
}

.content .main-content .post .post-preview i {
    font-size: 18px;
}

.content .main-content .post .post-preview .icon {
    float: left;
    margin-right: 8px;
}

.content .main-content .post-title {
    margin: 20px;
}





.main-body {
    padding: 15px;
}

.card {

    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 1070px;
    height: 270px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.card .card-body .tooltip-avatar {
    position: absolute;
    right: 10px;
}
.card .card-body h1 {
    position: absolute;
    right: 20%;
}

.card .card-body h4 {
    position: absolute;
    bottom: 60px;
    right: 6%;
}
.card .card-body .email {
    position: absolute;
    right: 20%;
    bottom: 50%;
}


#myBtn {
    position: absolute;
    right: 20%;
    bottom: 10%;
}

.card .card-body .follow-info {
    position: absolute;
    right: 20%;
    bottom: 28%;
}


.text-secondary {
    margin-top: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal style */


.edit-information-form{
	padding: 50px 0;
    margin-top: 0px;
}

.edit-information-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}



.edit-information-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.edit-information-form .save-change{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}
label {
    float: right;
    margin-right: 13px;
}



@media only screen and (max-width: 800px) {
    .card {
        width: 770px;
        height: 300px;
    }
    .card .card-body #avatar {
        position: absolute;
        right: 250px;
    }
    .card .card-body h4 {
        position: absolute;
        bottom: 100px;
        right: 315px;
    }
    .card .card-body h1 {
        display: none;
    }
    .card .card-body .follow-info {
        position: absolute;
        right: 40%;
        bottom: 12%;
    }
    .card .card-body .email {
        display: none;
    }
    #myBtn {
        position: absolute;
        right: 38%;
        bottom: 2%;
    }
    .content .main-content .post {
        width: 800px;
        height: 270px;
        margin: 20px auto;
        border-radius: 5px;
        background: white;
        position: relative;
    }
    .content .main-content .post .edit-btn {
        position: absolute;
        bottom: 10px;
        right: 82%;
        border: 1px solid #005cbf;
        border-radius: .25rem;
        color: #005cbf;
    }

}

@media only screen and (max-width: 500px) {
    .card {
        width: 600px;
        height: 350px;
    }
    .card .card-body h1 {
        display: none;
    }

    .card .card-body h4 {
        position: absolute;
        bottom: 150px;
        right: 315px;
    }
    .card .card-body .email {
        display: none;
    }
    .card .card-body .follow-info {
        position: absolute;
        right: 50%;
        bottom: 26%;
    }
    #myBtn {
        position: absolute;
        right: 47%;
        bottom: 10%;
    }


    /* for posts */
    .content .main-content .post {
        width: 600px;
        height: 270px;
        margin: 20px auto;
        border-radius: 5px;
        background: white;
        position: relative;
    }
    .content .main-content .post .edit-btn {
        position: absolute;
        bottom: 10px;
        right: 78%;
        border: 1px solid #005cbf;
        border-radius: .25rem;
        color: #005cbf;
    }

}